<IfModule mod_rewrite.c>
#activar rewrite engine 
RewriteEngine on
ErrorDocument 404 http://localhost:8080/masterphp/proyecto-php-poo/error/

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^/?([a-zA-Z]+)/([a-zA-Z]+)/?([0-9]+)? index.php?controller=$1&action=$2&id=$3
</IfModule>